<nav class="navbar">
    <div class="logo">
        <img src="/assets/LOGO.png" alt="Logo">
    </div>
    <h1 class="logo-text" routerLink="/carousel">Logo</h1>
    <div class="menu">
        <ul>
            <li><a routerLink="/cards">SHOP</a></li>
            <li><a href="#">SKILLS</a></li>
            <li><a href="#">STORIES</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </div>
    <div class="icons">
        <div class="search">
            <i class="fas fa-search"></i>
        </div>
        <div class="love">
            <i class="fa fa-heart"></i>
        </div>
        <div class="bag">
            <i class="fa fa-shopping-bag"></i>
        </div>
        <div class="login">
            <i class="fa fa-user"></i>
        </div>
        <div class="language">
            <div class="dropdown">
                <button class="dropbtn"><i class="fa fa-globe"></i></button>
                <div class="dropdown-content">
                    <a href="#">English</a>
                    <a href="#">Telugu</a>
                    <a href="#">Kannada</a>
                    <a href="#">Chinese</a>
                </div>
            </div>
        </div>
    </div>
</nav>
