/* Footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .footer p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ccc;
  }
  
  /* Footer Cards */
  .footer-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .footer-card h6 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-card ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-card ul li {
    margin-bottom: 5px;
  }
  
  /* Footer Icons */
  .footer-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .footer-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    border-radius: 50%;
    margin: 0 10px;
    color: #fff;
  }
  
  .footer-icons a:hover {
    background-color: #555;
  }
  