<footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Be The first to know</h5>
          <p>Signup for updates specific to our latest products, offers, and events.</p>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Enter your email" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Subscribe</button>
          </form>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">About Us</a></li>
            <li><a href="#" class="text-white">Our Products</a></li>
            <li><a href="#" class="text-white">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><i class="bi bi-facebook"></i> Facebook</a></li>
            <li><a href="#" class="text-white"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li><a href="#" class="text-white"><i class="bi bi-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <p>Contact Information:</p>
        <p>123 Main Street, City, Country</p>
        <p>Phone: +1 (123) 456-7890</p>
        <p>Email: info.xample.com</p>
      </div>
    </div>
  </footer>
  