.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust height as needed */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin for separation */
  }
  
  .carousel-content {
    text-align: center;
    margin-bottom: 20px; /* Add margin for separation */
  }
  
  .carousel-content h2 {
    font-size: 2.5rem; /* Adjust font size as needed */
    color: #333;
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .carousel-content p {
    font-size: 1.2rem; /* Adjust font size as needed */
    color: #666;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 250px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .favorite-icon {
    color: red;
  }
  
  .signin-note {
    font-size: 0.8rem;
    color: #999;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .carousel-content h2 {
      font-size: 2rem;
    }
  
    .carousel-content p {
      font-size: 1rem;
    }
  
    .card {
      width: 45%; /* Adjust card width for smaller screens */
      margin: 10px; /* Adjust margin for smaller screens */
    }
  }
  