<div class="carousel-container">
    <div class="carousel-content">
      <h2>DISCOVER OUR PRODUCTS</h2>
      <p>Explore a wide range of products that suit your needs.</p>
      
    </div>



    <div class="card-container">
        <div class="card" *ngFor="let bag of bags">
          <img [src]="bag.imageUrl" class="card-img-top" [alt]="bag.bagName">
          <div class="card-body">
            <h5 class="card-title">{{ bag.bagName }}</h5>
            <p class="card-text">{{ bag.description }}</p>
            <div class="action-buttons">
              <span class="favorite-icon"><i class="fas fa-heart"></i></span>
              <p class="signin-note">Sign in or create an account to see prices.</p>
           
              
            </div>
          </div>
        </div>
      </div>
      
  </div>
  